
<h2>Adding marks for {{student.firstName}} {{student.lastName}}</h2>
<form class="needs-validation" novalidate style="margin:20px;" method="POST" action="/marks/add/{{student.id}}">
  <div class="form-row">
    <div class="col-md-4 mb-1" style="margin:10px;">
      <label for="validationCustom01">Reg No</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Reg No" name="regno" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-1" style="margin:10px;">
      <label for="validationCustom02">Class</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Class" name="className" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
    
  <div class="form-row">
    <div class="col-md-4 mb-1" style="margin:10px;">
      <label for="validationCustom03">Section</label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="Section" name="sectionName" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-1" style="margin:10px;">
      <label for="validationCustom04">Exam Name</label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="Exam Name" name="examName" required>
      <div class="invalid-feedback">
        Please provide a valid Exam name.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-1" style="margin:10px;">
      <label for="validationCustom05">Maths Mark</label>
      <input type="number" class="form-control" min="1" max="100" id="validationCustom05" placeholder="Maths mark" name="mathMark" required>
      <div class="invalid-feedback">
        Please provide a valid Maths mark.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-1" style="margin:10px;">
      <label for="validationCustom06">Science Mark</label>
      <input type="number" class="form-control" min="1" max="100" id="validationCustom06" placeholder="Science mark" name="scienceMark" required>
      <div class="invalid-feedback">
        Please provide a valid Science mark.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-1" style="margin:10px;">
      <label for="validationCustom07">Language Mark</label>
      <input type="number" class="form-control" min="1" max="100" id="validationCustom07" placeholder="Language mark" name="langMark" required>
      <div class="invalid-feedback">
        Please provide a valid Language mark.
      </div>
    </div>
  </div>
 
  <div class="form-row" style="margin-top:20px;">
    <div class="col-md-4 mb-1">
      <button class="btn btn-outline-primary" type="submit">Submit form</button>
      <button class="btn btn-outline-primary" type="reset">Reset</button>
    </div>
  </div>
</form>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields


(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {

      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, true);

    });
  }, false);
})();

</script>