<!DOCTYPE html>
<html lang="en">

<head>
  {{> meta}}
  {{> bootstrap}}
  <title>{{title}}</title>
</head>

<body>
  {{#if current_user}}
  <div class="text-right">
    <a class="btn btn-outline-primary" href="/user" role="button">Home</a>
    <a class="btn btn-outline-primary" href="/user/profile" role="button">view Profile</a>
    <a class="btn btn-outline-primary" href="/user/logout" role="button">Sign out</a>
  </div>
  {{/if}}
  {{{body}}}
</body>

</html>